{% if discountify_discount %}
	<div class="discountify_preview">
		<i class="fa fa-tag"></i>
		{% assign discountify_variant = product.selected_or_first_available_variant %}
		{% if discountify_discount.discount_type == 'percentage' %}
			{{ (discountify_variant.price - (discountify_variant.price * discountify_discount.value / 100)) | money }}
		{% else %}
			{{ (discountify_variant.price - discountify_discount.value) | money }}
		{% endif %}
	</div>
{% endif %}